<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-animate.js" charset="utf-8"></script>
    <script type="text/javascript" src="./main.js" charset="utf-8"></script>
    <style media="screen">
      audio::-webkit-media-controls-timeline{
        transition: transform 2s;
      }
      .btn-link-dark{
        color: #e7e7e7;
      }
    </style>
    <title>Online File System</title>
  </head>
  <body ng-app="app" ng-controller="page">
    <div ng-init="parent = flatten(root); path = '.'">
      <h4>root</h4>
      <ul>
        <li ng-repeat="(key, value) in parent track by $index">
          <!-- <div ng-init="" ng-include="'folderTemplate.html'"></div> -->
          <a ng-if="isObject(value)" ng-init="fileLocation = concat(path, value.name).join('/')" href="{{fileLocation}}">{{value.name}}</a>
          <div ng-if="isArray(value)">
            <h4>{{key}}</h4>
            <div ng-init="parent = value; path = concat(path, key)" ng-include="'folderTemplate.html'"></div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
